@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}

<article style="margin:70px"/>

<head>
    <link rel="stylesheet" href="/css/products.css" asp-append-version="true" />
</head>

<body>
    <h1>@ViewData["Title"]</h1>
    <div class="items">
        <div class="products-container">
            @foreach (var product in Model)
            {
                var base64 = Convert.ToBase64String(product.Images);
                var imgSrc = String.Format("data:image/gif;base64, {0}", base64);
                <div class="models-container">
                    <img src="@imgSrc" />
                    <h1>@Html.DisplayFor(x => product.Brand)</h1>
                    <p>@Html.DisplayFor(x => product.Model)</p>
                    <p>@Html.DisplayFor(x => product.Price) KR</p>
                </div>
            }
        </div>
    </div>

</body>





