@model ProductViewModel

@{
    ViewData["Title"] = "Product";
    var base64 = Convert.ToBase64String(@Model.Images);
    var imgSrc = String.Format("data:image/gif;base64, {0}", base64);
}

<head>
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" >
    <script src="~/js/product.js" asp-append-version="true" ></script>
</head>

<article style="margin:70px"/>

<body>

    <div class="full-container">
        <div class="img-container">
            <img src="@imgSrc" />
        </div>

        <div class="text-container">
            <h1>@Model.Brand</h1>
            <h3>@Model.Model</h3>
            <p>@Model.Price KR</p>

            @if (Model.InStock > 0)
            {
                <p class="instock">In stock</p>
            }
            else
            {
                <p class="instock">Out of stock</p>
            }

            <form class="form-container">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    @for (int i = 0; i < Model.Sizes.Count; i++)
                    {
                        <td>
                            <input asp-for="Sizes" type="button" value="@Model.Sizes[i].Size US" class="size-btn" onclick="SetSize(this.value)" />
                            <span asp-validation-for="Sizes"></span>
                        </td>
                    }
                </div>

                <div class="form-group">
                    <input id="size" name="size" type="hidden" value=""/>
                </div>

                <div class="form-group">
                    <input asp-for="Brand" type="hidden" value="@Model.Brand" />
                    <span asp-validation-for="Brand"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Model" type="hidden" value="@Model.Model" />
                    <span asp-validation-for="Model"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Price" type="hidden" value="@Model.Price" />
                    <span asp-validation-for="Price"></span>
                </div>

                <div class="form-group">
                    <input name="img" type="hidden" value="@Model.Images" />
                </div>

                <div class="form-group">
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <span asp-validation-for="Id"></span>
                </div>

                <div class="form-group">
                    <input asp-for="ProductNo" type="hidden" value="@Model.ProductNo" />
                    <span asp-validation-for="ProductNo"></span>
                </div>

                <button class="like-btn" type="button">Favorite <i id="like-icon" class="far fa-heart pl-0"></i></button>
                <input type="submit" value="Add to cart" class="cart-btn" formaction="AddProduct" />
            </form>

            <p>@Model.Description</p>

            <div tabindex="0" class="dd" onclick="Dropdown()">
                <span class="shipping">Shipping<i id="icon" class ="fas fa-angle-down"></i></span>
                <div class="dd-content">
                    <p>All Rooster members get free shipping</p>
                </div>
            </div>

        </div>


    </div>



</body>